@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

@mixin button {
  margin-left: 1rem;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: violet;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 1rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: rgb(126, 68, 126);
    color: #fff;
  }
}

@mixin buttonNoMargin {
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  background-color: violet;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 1rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: rgb(126, 68, 126);
    color: #fff;
  }
}

body {
  background-color: #eee;
}

.container {
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  align-items: center;
  padding: 2rem;

  @media screen and (max-width: 900px) {
    padding: 1rem;
  }

  .content {
    padding: 1rem 2rem;
    background-color: rgba(180, 154, 231, 0.667);
    border-radius: 4px;

    &-title {
      h1 {
        font-size: 2rem;
        text-align: center;

        @media screen and (max-width: 400px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 340px) {
          font-size: 1.3rem;
        }
      }
    }

    &-main {
      width: 100%;

      a {
        display: inline-block;
        width: 100%;
        @include button();
        margin: 0;
        background-color: rgb(89, 0, 255);
        border-radius: 5px;
        color: #fff;
      }
    }

    &-title,
    &-main {
      margin-bottom: 2rem;
    }

    &-list {
      .list-item {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 1rem;
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
        overflow: auto;

        p {
          font-size: 1rem;
        }

        &-action {
          display: flex;
          text-align: center;

          @media screen and (max-width: 600px) {
            flex-direction: column;
          }

          a {
            @include button();
            margin-bottom: 5px;
          }

          form {
            button {
              @include button();
            }
          }
        }
      }
    }
  }

  .add-todo {
    padding: 1rem 2rem;
    background-color: rgba(180, 154, 231, 0.667);
    border-radius: 4px;
    // min-width: 600px;
    width: 40%;

    @media screen and (max-width: 900px) {
      width: 70%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    &-title,
    &-main {
      margin-bottom: 1rem;
    }

    &-title {
      h1 {
        margin-bottom: 8px;
      }

      p {
        color: rgb(255, 30, 0);
        font-style: italic;
        font-size: 1.3rem;
      }
    }

    &-main {
      form {
        margin-bottom: 1.5rem;

        input,
        button {
          width: 100%;
          border: none;
          outline: none;
          margin-bottom: 10px;
        }

        input {
          border-radius: 5px;
          padding: 0.5rem 1rem;
        }

        button {
          @include buttonNoMargin();
          padding: 0.5rem 1rem;
        }
      }

      a {
        @include button();
        width: 100%;
        margin: 0;
      }
    }
  }

  .edit-todo {
    padding: 1rem 2rem;
    background-color: rgba(180, 154, 231, 0.667);
    border-radius: 4px;
    width: 40%;

    @media screen and (max-width: 900px) {
      width: 70%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    &-title,
    &-main {
      margin-bottom: 1rem;
    }

    &-title {
      h1 {
        margin-bottom: 8px;
      }

      p {
        color: rgb(255, 30, 0);
        font-style: italic;
        font-size: 1.3rem;
      }
    }

    &-main {
      form {
        margin-bottom: 1.5rem;

        input,
        button {
          width: 100%;
          border: none;
          outline: none;
          margin-bottom: 10px;
        }

        input {
          border-radius: 5px;
          padding: 0.5rem 1rem;
        }

        button {
          @include buttonNoMargin();
          padding: 0.5rem 1rem;
        }
      }

      a {
        @include button();
        width: 100%;
        margin: 0;
        // padding: 0%;
      }
    }
  }

  .not-found {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 5rem;
    }

    h3 {
      font-size: 3rem;
    }
  }
}
