<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="/img/node-png.png"/>

  <!-- Font Awesome Icon -->
  <script src="https://kit.fontawesome.com/c44eab4227.js" crossorigin="anonymous"></script>

  <!-- My CSS -->
  <link rel="stylesheet" href="/css/style.css">
  
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <%- body %> 
  </div>
</body>
</html>