<div class="add-todo" style="text-align: center;">
  <div class="add-todo-title">
    <h1>Add Todo</h1>
    <% if (typeof error !== 'undefined') { %>
      <p><%= error %></p>
    <% } %>
  </div>
  <div class="add-todo-main">
    <form action="/" method="post">
      <input type="text" name="kegiatan" id="todo" autofocus autocomplete="off">
      <br>
      <button type="submit"><i class="fa-solid fa-plus"></i>&nbsp;Add Todo</button>
    </form>
    <a href="/">Cancel</a>
  </div>
</div>
