@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box; }

body {
  background-color: #eee; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  @media screen and (max-width: 900px) {
    .container {
      padding: 1rem; } }
  .container .content {
    padding: 1rem 2rem;
    background-color: rgba(180, 154, 231, 0.667);
    border-radius: 4px; }
    .container .content-title h1 {
      font-size: 2rem;
      text-align: center; }
      @media screen and (max-width: 400px) {
        .container .content-title h1 {
          font-size: 1.6rem; } }
      @media screen and (max-width: 340px) {
        .container .content-title h1 {
          font-size: 1.3rem; } }
    .container .content-main {
      width: 100%; }
      .container .content-main a {
        display: inline-block;
        width: 100%;
        margin-left: 1rem;
        cursor: pointer;
        padding: 10px 15px;
        border: none;
        outline: none;
        background-color: violet;
        border-radius: 4px;
        transition: 0.3s;
        font-size: 1rem;
        color: #000;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        margin: 0;
        background-color: #5900ff;
        border-radius: 5px;
        color: #fff; }
        .container .content-main a:hover {
          background-color: #7e447e;
          color: #fff; }
    .container .content-title, .container .content-main {
      margin-bottom: 2rem; }
    .container .content-list .list-item {
      display: flex;
      justify-content: space-between;
      background-color: white;
      margin-bottom: 1rem;
      align-items: center;
      padding: 1rem;
      border-radius: 5px;
      overflow: auto; }
      .container .content-list .list-item p {
        font-size: 1rem; }
      .container .content-list .list-item-action {
        display: flex;
        text-align: center; }
        @media screen and (max-width: 600px) {
          .container .content-list .list-item-action {
            flex-direction: column; } }
        .container .content-list .list-item-action a {
          margin-left: 1rem;
          cursor: pointer;
          padding: 10px 15px;
          border: none;
          outline: none;
          background-color: violet;
          border-radius: 4px;
          transition: 0.3s;
          font-size: 1rem;
          color: #000;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          margin-bottom: 5px; }
          .container .content-list .list-item-action a:hover {
            background-color: #7e447e;
            color: #fff; }
        .container .content-list .list-item-action form button {
          margin-left: 1rem;
          cursor: pointer;
          padding: 10px 15px;
          border: none;
          outline: none;
          background-color: violet;
          border-radius: 4px;
          transition: 0.3s;
          font-size: 1rem;
          color: #000;
          display: inline-block;
          text-decoration: none;
          text-align: center; }
          .container .content-list .list-item-action form button:hover {
            background-color: #7e447e;
            color: #fff; }
  .container .add-todo {
    padding: 1rem 2rem;
    background-color: rgba(180, 154, 231, 0.667);
    border-radius: 4px;
    width: 40%; }
    @media screen and (max-width: 900px) {
      .container .add-todo {
        width: 70%; } }
    @media screen and (max-width: 600px) {
      .container .add-todo {
        width: 100%; } }
    .container .add-todo-title, .container .add-todo-main {
      margin-bottom: 1rem; }
    .container .add-todo-title h1 {
      margin-bottom: 8px; }
    .container .add-todo-title p {
      color: #ff1e00;
      font-style: italic;
      font-size: 1.3rem; }
    .container .add-todo-main form {
      margin-bottom: 1.5rem; }
      .container .add-todo-main form input,
      .container .add-todo-main form button {
        width: 100%;
        border: none;
        outline: none;
        margin-bottom: 10px; }
      .container .add-todo-main form input {
        border-radius: 5px;
        padding: 0.5rem 1rem; }
      .container .add-todo-main form button {
        cursor: pointer;
        padding: 10px;
        border: none;
        outline: none;
        background-color: violet;
        border-radius: 4px;
        transition: 0.3s;
        font-size: 1rem;
        color: #000;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem 1rem; }
        .container .add-todo-main form button:hover {
          background-color: #7e447e;
          color: #fff; }
    .container .add-todo-main a {
      margin-left: 1rem;
      cursor: pointer;
      padding: 10px 15px;
      border: none;
      outline: none;
      background-color: violet;
      border-radius: 4px;
      transition: 0.3s;
      font-size: 1rem;
      color: #000;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 100%;
      margin: 0; }
      .container .add-todo-main a:hover {
        background-color: #7e447e;
        color: #fff; }
  .container .edit-todo {
    padding: 1rem 2rem;
    background-color: rgba(180, 154, 231, 0.667);
    border-radius: 4px;
    width: 40%; }
    @media screen and (max-width: 900px) {
      .container .edit-todo {
        width: 70%; } }
    @media screen and (max-width: 600px) {
      .container .edit-todo {
        width: 100%; } }
    .container .edit-todo-title, .container .edit-todo-main {
      margin-bottom: 1rem; }
    .container .edit-todo-title h1 {
      margin-bottom: 8px; }
    .container .edit-todo-title p {
      color: #ff1e00;
      font-style: italic;
      font-size: 1.3rem; }
    .container .edit-todo-main form {
      margin-bottom: 1.5rem; }
      .container .edit-todo-main form input,
      .container .edit-todo-main form button {
        width: 100%;
        border: none;
        outline: none;
        margin-bottom: 10px; }
      .container .edit-todo-main form input {
        border-radius: 5px;
        padding: 0.5rem 1rem; }
      .container .edit-todo-main form button {
        cursor: pointer;
        padding: 10px;
        border: none;
        outline: none;
        background-color: violet;
        border-radius: 4px;
        transition: 0.3s;
        font-size: 1rem;
        color: #000;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem 1rem; }
        .container .edit-todo-main form button:hover {
          background-color: #7e447e;
          color: #fff; }
    .container .edit-todo-main a {
      margin-left: 1rem;
      cursor: pointer;
      padding: 10px 15px;
      border: none;
      outline: none;
      background-color: violet;
      border-radius: 4px;
      transition: 0.3s;
      font-size: 1rem;
      color: #000;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 100%;
      margin: 0; }
      .container .edit-todo-main a:hover {
        background-color: #7e447e;
        color: #fff; }
  .container .not-found {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .not-found h1 {
      font-size: 5rem; }
    .container .not-found h3 {
      font-size: 3rem; }

/*# sourceMappingURL=style.css.map */
